<template>
    <div class="mt-4">
        <table style="width: 80%; margin: auto; background-color: #ccc">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Status</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(task, index) in tasks" :key="index">
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.done ? 'Wykonane' : 'Niewykonane' }}</td>
                    <td>
                        <button @click="toggleDone(index)">
                            {{
                                task.done
                                    ? 'Jednak niewykonane'
                                    : 'Oznacz jako wykonane'
                            }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        tasks: {
            type: Array,
            required: false,
            default: () => []
        }
    },

    data() {
        return {
            fields: [
                { key: 'id', label: 'Lp.' },
                { key: 'name', label: 'Nazwa' },
                { key: 'done', label: 'Zakończone' }
            ]
        };
    },

    methods: {
        toggleDone(index) {
            this.$emit('toggleDone', index);
        }
    }
};
</script>

<style></style>
