<template>
    <div id="app">
        <b-container class="bv-example-row">
            <b-row>
                <b-col cols="12">
                    <h4>SSI Prezentacja</h4>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12">
                    <label for="name" class="mr-2">Podaj swoje imie: </label>
                    <input
                        v-model="name"
                        type="text"
                        id="name"
                        autocomplete="off"
                    />
                </b-col>
                <b-col cols="12">
                    <p v-if="!name">Witaj nieznajomy!</p>
                    <p v-else>Witaj {{ name }}!</p>
                </b-col>
                <b-col cols="12">
                    <hr />
                </b-col>
                <b-col cols="12">
                    <label for="taskName" class="mr-2">Nazwa zadania: </label>
                    <input
                        v-model="taskName"
                        type="text"
                        id="taskName"
                        autocomplete="off"
                    />
                    <button class="ml-2" @click="addTask">Dodaj</button>
                </b-col>
                <b-col cols="12">
                    <tasks-table
                        :tasks="tasks"
                        @toggleDone="toggleDoneParent"
                    />
                </b-col>
                <b-col
                    cols="12"
                    class="my-4"
                    :style="{ color: areAllDone ? 'green' : 'brown' }"
                >
                    <h4 v-if="areAllDone">Wszystkie zadania wykonane!</h4>
                    <h4 v-else>Niektóre zadania nie są wykonane!</h4>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import TasksTable from './components/TasksTable';

export default {
    name: 'app',

    components: {
        TasksTable
    },

    data: () => ({
        name: '',
        tasks: [
            { id: 1, name: 'Zrobić prezentacje', done: true },
            { id: 2, name: 'Zrobić cos innego', done: false }
        ],
        taskName: ''
    }),

    computed: {
        areAllDone() {
            return this.tasks.every(task => task.done);
        }
    },

    /* eslint-disable no-console */
    watch: {
        name() {
            console.log('Ktoś zmienił name');
        }
    },

    created() {
        console.log('created method!');
    },

    mounted() {
        console.log('mounted method!');
    },

    updated() {
        console.log('updated method!');
    },
    /* eslint-enable no-console */

    methods: {
        addTask() {
            if (!this.tasks) {
                return;
            }

            if (!this.tasks.length) {
                this.tasks = [{ id: 1, name: this.taskName, done: false }];
                this.taskName = '';

                return;
            }

            const task = {
                id: this.tasks[this.tasks.length - 1].id + 1,
                name: this.taskName,
                done: false
            };

            this.tasks = [...this.tasks, { ...task }];
            this.taskName = '';
        },

        toggleDoneParent(index) {
            this.tasks[index].done = !this.tasks[index].done;
        }
    }
};
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding-top: 60px;
    background-color: #eee;
    height: 100vh;
}
</style>
